h1{
    font-family:'Lobster';
    font-weight:lighter;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color:black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    font-size: 16px;
    text-align: center;
}

nav ul { /*/ üst menü/*/
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color:black;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}


#recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.recipe {
    width: 275px;
    margin: 10px;
    box-shadow: 0 0 5px black;
}

.recipe img {
    width: 100%;
    height: 200px;
    object-fit: cover;

}

.recipe a.btn {
    display: block;
    padding: 10px;
    text-align: center;
}
h5{
    text-align: center;
    font-size: 32px;
    color: #509E2F;
}
nav ul li a.active {
    color:#509E2F;
}
.recipe-details ul { /*malzeme listesi */
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    flex-direction: column;
}
.recipe-details img {
    display: flex;
    align-items: center;
    max-width: 500px;

}