body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5fbed;
}

header {
    background-color: #2A4D14;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    font-size: 16px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}


#recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.recipe {
    width: 275px;
    margin: 10px;
    box-shadow: 0 0 5px black;
}

.recipe img {
    width: 100%;
    height: 200px;
    object-fit: cover;

}

.recipe h2 {
    margin: 10px;
}

.recipe a.btn {
    display: block;
    padding: 10px;
    text-align: center;
    background-color: #317B22;
}
h5{
    text-align: center;
    font-size: 24px;
    color: #354f30;
    font-weight: bold;
}
nav ul li a.active {
    background-color: #317B22;
    color: #fff;
}
.recipe-details ul { /*malzeme listesi */
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    list-style-type: none;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(134, 133, 133);
    border-radius: 10px 10px 10px 10px;
}
.recipe-details img {
    margin-right: 5px;
    max-width: 30%;
    justify-content: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    object-fit:cover;
}